//padding public pages

.sticky + #editButton {
    margin-top: 90px;
    @media (max-width: 767px){
        margin-top: 32px;
    }
}


//General Styles
#public-pages {

    //place general styles here
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    @media (max-width: 540px) {
        font-size: $font-size-base-sm;
    }

    .container {
        max-width: 1158px;
    }

    //links
    a {
        @include link_styles($blue-theme-color);
    }

    //Padding styles
    .bottom-border {
        border-bottom: 1px solid #C7C7C0;
        padding-bottom: 20px;
    }

    .bottom-padding {
        @include bottom-padding(40px);
    }

    .bottom-padding-20 {
        @include bottom-padding(20px);
    }

    .top-padding {
        @include top-padding(40px);
    }

    .top-padding-20 {
        @include top-padding(20px);
    }
    .top-padding-30 {
        @include top-padding(30px);
    }

    .right-padding {
        @include right-padding(40px);
    }

    .right-padding-20 {
        @include right-padding(20px);
    }

    .left-padding {
        @include left-padding(40px);
    }

    .left-padding-20 {
        @include left-padding(20px);
    }

    .row-padding {
        @include bottom-padding(20px);
        @include top-padding(20px);
    }

    .top-padding-screen-sm {
        @media(max-width: 991px){
            padding-top: 20px;
        }
    }

    .bottom-padding-screen-sm {
        @media(max-width: 991px){
            padding-top: 20px;
        }
    }

    .no-border-sm {
        @media (max-width: 992px) {
            border: none;
        }
    }

    .p-20 {
        padding: 20px;
    }
    .p-20-left {
        padding-left: 20px;
    }
    .p-20-right {
        padding-right: 20px;
    }
    .p-10-bottom {
        padding-bottom: 10px;
    }

    .p-5-sides {
        padding: 0 5px
    }

    .p-20-vertical {
        padding: 20px 0;
        @media(max-width: 991px){
            padding: 10px 0;
        }
    }

    .green-arrow-right {
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    .white-arrow-right {

        @media (max-width: 767px) {
            width: 25px;
            height: 25px;
            margin-left: -10px;
        }

        width: 30px;
        height: 30px;
        margin: 0;
        margin-bottom: 2px;
        margin-right: -10px;
    }

    //margin
    .m-negative-20 {
        margin-bottom: -20px;
    }


    //Images
    img {
        margin-bottom: 20px;
    }

    .img-responsive-sm {
        @media (max-width: 991px){
            padding: 50px;
            margin-top: -30px;
            margin-bottom: -30px;
        }
    }

    #img-sample-submit {
        @include top-padding(30px);
        margin-bottom: 0;

        @media (max-width: 991px) {
            padding: 50px;
            margin-top: -30px;
            margin-bottom: -30px;
        }
    }

    img.profile-pic {
        margin-bottom: 0px;
    }

    ///////////Lists
    .check {
        padding: 10px;
        margin-top: -5px;
        @media(max-width: 991px) {
            text-align: right;
            img{
                max-width: 30px;
                max-height: 30px;
            }
        }
        @media(max-width: 767px) {
            text-align: center;
        }
        @media(max-width: 445px) {
            text-align: right;
        }
    }

    .arrow {
        margin-top: -5px;
        padding-right: 0px; 
        @media(max-width: 991px) {
            img{
                max-width: 30px;
                max-height: 30px;
            }
        }
        @media(max-width: 767px) {
            text-align: center;
        }
        @media(max-width: 445px) {
            text-align: right;
        }
    }

    ul.check-list, ul.arrow-list {
        list-style: none;
        padding-left: 0;
    }

    ul.arrow-list, ul.point-list {
        padding-bottom: 10px;
    }


    .announcement-boxes {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .team-img .img-responsive {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    @media(max-width: 582px) {
        .team-img .img-responsive, .image-description {
            display: none;
        }
    }

    h1 {
        font-family: $font-family-title;
    }

    h2 {
        @include subtitle-font-styles();
    }

    h3 {
        color: $green-theme-color;
        font-style: normal;
        padding-bottom: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        border-bottom: 1px solid #C7C7C0;
        font-weight: 400;
    }

    p + p{
        margin: 20px 0 20px 0;
    }

    h2#header-first {
        @media(max-width: 991px){
            margin-top: 10px;
        }
    }

    h2.h2-about-us { 
        margin-bottom: 10px;
    }

    button {
        @include button_styles();

        .btn-txt {
            font-size: 13px;
            color: black;
            font-weight: bold;
            display: flex;
            align-items: center;
            .btn-txt-padding{
                padding-bottom: 3px;
            }
        }
    }

    p.image-description {
        color: #6D6C6D;
        font-size: 14px;
        margin-top: -15px;
    }

    //Modal Button close
    button.close {
        float: right;
        height: 30px;
        width: 30px;
        padding: 5px 10px 20px 10px;
    }

    //Tables
    #seqTable {
        table.table {
            border: none;
            margin: 30px 0;
            th {
                border: none;
                background-color: white; 
                font-size: $font-size-base;
            }
            tbody {
                border: none;
                tr:nth-child(even) {
                    td{
                        border: none;
                        background-color: white !important;
                        padding: 10px 15px;
                        font-size: 15px;
                    }
                }
                tr:nth-child(odd) {
                    td{
                        border: none;
                        background-color: $table-background-color !important;
                        padding: 10px 15px;
                        font-size: 15px;
                    }
                }

                td:nth-child(even) {
                    font-weight: bold;
                    text-align: right;
                    border-radius: 2px;
                }

            }
        }
    }

    // Banner Container
    .jumbotron {
        background: url(/assets/site/images/banner-background.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 522px;
        margin-bottom: 40px;
        @media (max-width: 550px){
            background-position: left;
        }
        
        #banner-outer-container {
            @media(min-width: 507px) {
                margin-top: 55px;
            }
            
            h1 {
                font-family: $font-family-title;
                font-size: $title-font-size-lg;
                line-height: 70px;
                font-weight: 500;
                max-width: 550px;
                
                
                &.black-txt {
                    color: black;
                    margin-bottom: 30px;
                    @media (max-width: 550px){
                        font-size: 50px;
                    }
                }
                &.green-txt {
                    font-size: 40px;
                    color: $green-theme-color;
                    font-weight: 500;
                    line-height: 53px
                }
            }
        }
    }
    .jumbotron#small-jumbotron {

        background: url(/assets/site/images/banner-background.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 220px;
        margin-bottom: 40px;
        text-align: left;

        h1 {
            margin-top: 40px;
            font-family: $font-family-title;
            font-size: 36px;
            line-height: 30px;
            font-weight: 500;
            @media (max-width: 767px){
                margin-top: 60px;
            }
        }
    }

    ///////Content Boxes
    .content-box {

        @media (max-width: 991px){
            padding-left: 30px;
            border-left: 4px solid $grey-background-color;
            margin-top: 20px;
        }

        h2 {
            border: none;
            background: inherit;
            margin: 0;
            padding: 0 15px;
        }

        #link-lab-sample {
            a {
                @include link_styles($dark-green-theme-color)
            }
            color: $dark-green-theme-color;
            margin-top: 68px;
            font-size: 14px;
            font-weight: 500;
            @media (max-width: 1177px) {
                margin-top: 42px;
            }
            @media (max-width: 991px){
                marign-top: 20px;
            }
        }
        #link-lab-members {
            a {
                @include link_styles($dark-green-theme-color)
            }
            color: $dark-green-theme-color;
            font-size: 14px;
            font-weight: 500;
            margin-top: 20px;
        }

        .icon-container{
            padding: 13px;
            margin-left: 15px;
            background-color: #eeeeee;
            border-radius: 50%;
        }

        img.img-responsive.icon-img {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 0;
        }

        .row.icon-row{
            display: flex;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: center;
            align-content: center;
            margin-bottom: 20px;
        }

    }

    .content-box-border-grey {
        border: 1px solid $grey-line-color;
        border-radius: 3px;
        padding: 5px 25px;
        margin-top: 30px;
        margin-bottom: 10px;

        p {
            position: relative;
            bottom: 10px;
            overflow-wrap: break-word;
        }

        @media (max-width: 991px) {
            margin-top: 50px;
        }

        #img-top-container {
            background: #eeeeee;
            position: relative;
            height: 80px;
            width: 80px;
            bottom: 40px;
            border-radius: 50%;
            border: none;
            margin-left: 0px;
            @media (min-width: 1178px){
                margin-left: 7px;
            }
        }

        img#img-top {
            margin-left: 5px;
            margin-top: 18px;
            height: 40px;
            width: auto;
        }
    }


    .reb-blue-box {
        min-height: 362px;
        @media(max-width: 1177px) {
            padding: 0 20px;
            min-height: 300px;
            max-height: 300px;
            p {
                font-size: 13px;
            }
        }
        @media (max-width: 991px) {
            margin-top: 50px;
            min-height: none;
            max-height: none;
            p {
                font-size: $font-size-base;
            }
        }
        @media (max-width: 540px) {
            p {
                font-size: $font-size-base-sm;
            }
        }
    }




    //triangle
    a#link-triangle {
        margin-top: 50px;    
        @include triangle-arrow($blue-theme-color);
    }


    //Announcement Box
    .announcement-box {
        background-color: $grey-background-color;
        text-align: left;
        border: none;
        border-top: 9px solid $green-theme-color;

        a {
            color: $blue-theme-color;
        }

        @media (max-width: 787px) {
            height: auto;
        }

        @media (max-width: 626px) {
            font-size: 16px;
        }

        p{
            font-size: 16px;
        }

        .dax-contact-box {
            padding-left: 0;
            padding-right: 0;
            margin-right: -30px;
            @media (max-width: 1177px) {
                margin-right: 0;
                padding-left: 20px;
                padding-right: 15px;
            }
            @media (max-width: 626px) {
                padding-top: 3px;
                padding-left: 60px;
            }
            #dax-contact {
                p {
                    margin: 0;
                    font-weight: 500;
                }
            }
        }

        .info-column {
            padding-left: 40px;
            border-left: 1px solid $blue-theme-color;
            @media (max-width: 766px){
                padding-left: 0px;
                margin-top: 15px;
                padding-top: 15px;
                border-top: 1px solid #D7D7D7;
                border-left: none;
            }
        }

        .container-row {
            padding: 0 50px 20px 50px;
            @media (max-width: 766px) {

            }
        }

        .team-content {
            padding: 15px 10px;
        }

        h2 {
            text-align: left;
            background-color: $grey-background-color;
            margin: 5px;
            margin-left: -5px;
            padding-left: 0px;
        }

        .announcement-inner {

            padding: 10px 70px 0 70px;
            @media(max-width: 766px) {
                padding: 10px 70px 0 55px;
            }
            .announcement-header {
                h2 {
                    border:none;
                }
                border: none;
                padding: 5px 0 10px 35px;
                @media(max-width: 991px) {
                    padding-left: 5px;
                }
            }
        }

        .contact-info {
            @media (max-width: 766px){
                padding-left: 0px;
            }

            .contact-pic-container {
                padding-left: 30px;
                @media (max-width: 991px){
                    padding-left: 0px;
                    text-align: left;
                }
                .contact-pic {
                    width: 100px;
                    border: none;
                }
            }
        }
    }


    //Homepage
    #home-page #lab-sub-button {
        @media (min-width: 992px) {
            margin-top: 100px;
        }
        @media (min-width: 1177px) {
            margin-top: 64px;
        }
    }
    #home-page {
        .about-us-btn {
            @media (max-width: 992px) {
                margin-bottom: 45px;
            }
        }
    }
    

    //About Us Page
    #about-us #img-about-us {
        img {
            @media (max-width: 991px) {
                //margin-top: 20px;
                //margin-bottom: 20px;
            }
        }
    }

    //// Navbar
    #navbar-container { 
        width: 100%;
        @media (max-width: 992px) {
            margin: 0;
            width: 100%;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    .top-container {
        margin: 10px 0;
        a {
            color: #0c0b0b !important;
            text-decoration: none;
        }

        div.navbar {
            background-color: white;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            
            @media (max-width: 1177px) {
                flex-direction: column;
            }

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                flex-grow: 1;
                @media (max-width: 1177px){
                    margin-right: 0;
                }
            }

            li {
                list-style-type: none;
                list-style-image: none;
                display: inline-block;
            }

            .active {
                display: inline-block;
                color: $blue-theme-color !important;
                background-color: white;
                border-bottom: 3px solid $blue-theme-color;
            }

            a:hover {
                display: inline-block;
                color: $blue-theme-color !important;
                background-color: white;
                text-decoration: none;
                border-bottom: 3px solid $blue-theme-color;
            }
        }

        .tgl-logo {
            @media (max-width: 1177px) {
                margin-left: 0;
            }
            img.logo-img { 
                height: 70px;
                width: auto;
                margin: 0;
            }
            a#tgl-logo-link {
                &:link,
                &:visited,
                &:active,
                &:focus,
                &:hover {
                    color: white;
                    border: none;
                    background-color: white;
                    padding: 0;
                    margin: 0;
                }
            }
                
            
       }


        @media (max-width: 767px) {
            display: none;
        }

        @media (min-width: 767px) {
            a {
                font-weight: 500;
                padding: 8px 10px;
            }
        }
    } 
}

//Modals
.team {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}

.person {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 10px;
    background-color: $grey-background-color;
    text-align: center;
    vertical-align: bottom;
    width: 75.5%;
    margin-left: 12%;
}

@media (min-width: 490px) {
    .person {
        width: 45.5%;
        margin-left: 10px;
    }
}

@media (min-width: 616px) {
    .person {
        width: 46.5%;
    }
}

@media screen and (min-width: 741px) {
    .person {
        width: 30.2%;
    }
}

@media screen and (min-width: 1178px) {
    .person {
        width: 23.2%;
    }
}

.person img {
    height: 325px;
    width: auto;
    object-fit: cover;
}

.person p.member-name {
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.person p.member-title {
    margin-bottom: 10px;
}

.person-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #D7D7D7;
    a {
        padding-bottom: 10px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
    margin: 250px auto;
}

.modal-body {
    margin: 20px;
    min-height: 300px;
}

.modal-header {
    margin: 20px;
}

.modal-content {
    background-color: white;
    border-radius: 0px;
    box-shadow: none;
}

.modal-picture {
    float: right;
    width: auto;
    object-fit: cover;
    height: 225px;
    padding-left: 20px;
}

.contact-name {
    font-size: 1.5em;
    font-weight: 400;
}

.modal-backdrop {
    z-index: 0;
}

#bs-example-navbar-collapse-1 {
    #mobile-nav {
        display: none;
    }
}
